test-results
node_modules
/.netlify
/e2e/_screenshots__/

# Output
.output
.vercel
/.svelte-kit
/playwright-report/
/blob-report/
/playwright/.cache/
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Sentry Config File
.env.sentry-build-plugin
