
---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog')
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="Devtings" description="A blog by Adam Sanderson" />
		<meta name="robots" content="noindex, nofollow">
	</head>
	<body>
		<main style="view-transition-name: main-content;">
			<header class="py-32">
				<h1 class="text-8xl font-extralight my-20">Devtings</h1>
				<h2 class="text-3xl font-light pb-4 border-b-2 border-b-amber-600 inline-block">A blog by Adam Sanderson</h2>
			</header>
      <article>
        All blog posts are here, including unpublished ones ready to view.
      </article>		
			<article aria-label="Blog Posts">
				<ol>
					{posts.map((post) => (
						<li class="my-4">
							<a class="text-2xl font-semibold" href={`/blog/${post.id}/`}>
								{post.data.title}
								{post.data.description && (
									<span class="description font-light">
										{post.data.description}
									</span>
								)}
							</a>
						</li>
					))}
				</ol>
			</article>
		</main>
		<Footer />
	</body>
</html>
