---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import { getCollection } from 'astro:content';
import { filterPostsWithPublishDate } from '../utils/content';

const posts = filterPostsWithPublishDate(await getCollection('blog'))
	.sort((a, b) => {
		const dateA = new Date(a.data.pubDate || a.data.publishDate || a.data.date);
		const dateB = new Date(b.data.pubDate || b.data.publishDate || b.data.date);
		return dateB.valueOf() - dateA.valueOf();
	});

const topThreePosts = posts.slice(0, 3);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="Devtings" description="A blog by Adam Sanderson" />
		{topThreePosts.map((post) => (
			<link rel="prefetch" href={`/blog/${post.id}/`} />
		))}
	</head>
	<body>
		<main style="view-transition-name: main-content;">
			<header class="py-32">
				<h1 class="text-8xl font-extralight my-20">Devtings</h1>
				<h2 class="text-3xl font-light pb-4 border-b-2 border-b-amber-600 inline-block">A blog by Adam Sanderson</h2>
			</header>
			
			<article aria-label="Blog Posts">
				<ol>
					{posts.map((post) => (
						<li class="my-4">
							<a class="text-2xl font-semibold" href={`/blog/${post.id}/`}>
								{post.data.title}
								{post.data.description && (
									<span class="description font-light">
										{post.data.description}
									</span>
								)}
							</a>
						</li>
					))}
				</ol>
			</article>
		</main>
		<Footer />
	</body>
</html>
