<footer>

        <div>
          <div>
            <img
              src="https://www.gravatar.com/avatar/7b1630c267230ec687dd7133d3a2e2b3?s=80"
              class="logo__img"
              alt="Adam Sanderson"
            ></img>
          </div>
          A front-end developer based out of Hastings, UK
        </div>
        <Link to="/">
          Home
        </Link>
        <a
          href="https://github.com/adsanderson"
        
          title="Github"
        >
          github
        </a>
        <a
          href="https://twitter.com/lazydayed"
        
          title="Twitter"
        >
          twitter
        </a>
        <a
          href="mailto:adam+site@adamsanderson.co.uk"
        
          rel="me"
        >
          email
        </a>
</footer>
