---
layout: default
title: Devtings
path: home
---

<ul class="mt-15">
    {% set postslist = collections.post %}

    {% for post in postslist | reverse %}
        <li class="my-8">
            <h2 class="font-bold text-3xl text-gray-900 mb-2">
                <a href="{{ post.url | url }}">
                    {% if post.data.title %}
                        {{ post.data.title }}
                    {% else %}
                        Untitled
                    {% endif %}
                </a>
            </h2>
            
            {% if post.data.description %}
                {{ post.data.description }}
            {% endif %}
        </li>
    {% endfor %}
</ul>